<app-global-user-nav></app-global-user-nav>
<div class="container mt-4" *ngIf="userService.userInfo; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ userService.userInfo.firstName }}'s</strong> Profile
    </h3>
  </header>
  <p>
    <strong>ID Number:</strong>
    {{userService.userInfo.IDnum}}
  </p>
  <p>
    <strong>Email:</strong>
    {{ userService.userInfo.email }}
  </p>
  <p>
    <strong>Address:</strong>
    {{ userService.userInfo.street }}
  </p>

  <p>
    <strong>City:</strong>
    {{userService.userInfo.city}}
  </p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
