.navbar {
  padding: .5rem 2rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  & .navbar-title {
    //line-height: 1.85;
    padding-top: 0;
  }

  & .first-nav-group {
    width: 50%;
    display: flex;

    & ul {
      flex-direction: row;

    }
  }
}

.global__nav--user-section {
  display: flex;
}

.separate-sections {
  justify-content: space-between;
}

.shoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
  position: relative;
  margin-right: 2rem !important;

  &--itemsCount {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: -1.2rem;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #ee6e73;
    color: white;
  }
}

.profile,
.shoppingCart {
  margin-right: 1.1rem;
}

.fa-history {
  margin-right: 10px;
}

.profile,
.logout {
  display: flex;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) {

}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .shoppingCart {
    width: max-content;
    position: relative;

    &--itemsCount {
      position: absolute;
      top: 0;
      right: -1.2rem;
    }
  }

  .navbar-profile-div {
    .profile, .logout {
      & i {
        margin-right: 8px;
      }
    }
  }
}



