//.card {
//  background-color: #f7f7f7;
//  padding: 25px 25px 30px;
//  //margin: 30px auto 25px;
//  -moz-border-radius: 2px;
//  -webkit-border-radius: 2px;
//  border-radius: 5px;
//  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
//  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
//  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
//}

.orders__page {
  //margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 56px);

  &--shopping-cart-review {
    padding: 3rem;
    width: 50%;
    border-right: .1px solid rgba(0, 0, 0, .1);

    &--header-body {

      & header {
        display: flex;
        justify-content: space-between;
      }
    }

    &--total {
      margin-top: 2rem;
      display: block;
      text-align: end;
    }
  }


  &--form--details {
    padding: 3rem;
    width: 50%;
    //height: max-content;

    &--header {
      margin-bottom: 1rem;
    }

    &--form {
      align-self: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;

      & .form-floating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
        //margin-right: 10px;


        & label {
          //width: 50%;
          margin-bottom: 5px;
          font-weight: 450;
        }
      }


      &-submitBtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: end;
      }
    }
  }
}
