<app-global-user-nav></app-global-user-nav>

<div class="orders__page">
  <div class="orders__page--shopping-cart-review">
    <div class="orders__page--shopping-cart-review--header">
      <header>
        <h2>Your cart:</h2>
        <button (click)="shoppingCartItemsService.deleteShoppingCart()" class="btn btn-outline-danger">Clear
          Cart
        </button>
      </header>
    </div>
    <div class="orders__page--shopping-cart-review--body">
      <app-user-cart-single-product
        *ngFor="let shoppingCartItem of shoppingCartItemsService.allShoppingCartItems"
        [singleShoppingCartItem]="shoppingCartItem"></app-user-cart-single-product>
    </div>

    <div class="orders__page--shopping-cart-review--total">
      <p>Total:
        <b>{{shoppingCartItemsService.totalPrice}}₪</b>
      </p>
    </div>
  </div>

  <div class="orders__page--form--details">
    <header class="orders__page--form--details--header">
      <h2 class="card-title">Confirm your shipping details:</h2>
    </header>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="orders__page--form--details--form" name="form">
      <div class="form-floating">
        <input [(ngModel)]="userService.userInfo.street"
               [ngClass]="{'is-invalid': submitted && f.shippingAddress.errors}"
               class="form-control"
               formControlName="shippingAddress"
               id="shippingAddress"
               name="shippingAddress"
               type="text"
               value="{{userService.userInfo.street}}"/>
        <label for="shippingAddress">Shipping Address:</label>

        <div *ngIf="submitted && f.shippingAddress.errors" class="invalid-feedback">
          <div *ngIf="f.shippingAddress.errors.minlength">Shipping address can't be less than 3 characters!</div>
          <div *ngIf="f.shippingAddress.errors.required">Shipping address is required!</div>
        </div>
      </div>

      <div class="form-floating">
        <input [(ngModel)]="userService.userInfo.city" [ngClass]="{'is-invalid': submitted && f.shippingCity.errors}"
               class="form-control"
               formControlName="shippingCity"
               id="shippingCity"
               name="shippingCity"
               type="text"
               value="{{userService.userInfo.city}}"/>
        <label for="shippingCity">Shipping City:</label>

        <div *ngIf="submitted && f.shippingCity.errors" class="invalid-feedback">
          <div *ngIf="f.shippingCity.errors.minlength">Shipping city can't be less than 3 characters!</div>
          <div *ngIf="f.shippingCity.errors.required">Shipping city is required!</div>
        </div>
      </div>

      <div class="form-floating">
        <input [(ngModel)]="userService.userInfo.creditCardNumber"
               [ngClass]="{'is-invalid': submitted && f.creditCardNumber.errors}"
               class="form-control"
               formControlName="creditCardNumber"
               id="creditCardNumber"
               name="creditCardNumber"
               type="text"
               value="{{userService.userInfo.creditCardNumber}}"/>
        <label for="creditCardNumber">Credit Card Number:</label>
        <small>Enter a valid credit card number!</small>
        <div *ngIf="submitted && f.creditCardNumber.errors" class="invalid-feedback">
          <div *ngIf="f.creditCardNumber.errors.minlength">Credit card number can't be less than 8 digits!</div>
          <div *ngIf="f.creditCardNumber.errors.maxlength">Credit card number can't be than 16 digits!</div>
          <div *ngIf="f.creditCardNumber.errors.required">Credit card number is required!</div>
          <div *ngIf="f.creditCardNumber.errors.pattern">Credit card number can only contain digits!</div>
        </div>
      </div>

      <div class="form-floating">
        <input [(ngModel)]="userService.userInfo.shippingDate"
               [ngClass]="{'is-invalid': submitted && f.shippingDate.errors}"
               class="form-control"
               formControlName="shippingDate"
               id="shippingDate"
               name="shippingDate"
               type="date"
               value="{{userService.userInfo.shippingDate}}"/>
        <label for="shippingDate">Desired shipping date:</label>

        <div *ngIf="submitted && f.shippingDate.errors" class="invalid-feedback">
          <div *ngIf="f.shippingDate.errors.required">Shipping date is required!</div>
        </div>
      </div>

      <div class="orders__page--form--details--form-submitBtn">
        <button class="btn btn-outline-danger form-submit-btn" type="reset">Reset Form</button>
        <button class="btn btn-outline-secondary form-submit-btn" type="submit">Submit Order</button>
      </div>
    </form>
  </div>
</div>
