<app-global-user-nav></app-global-user-nav>
<div class="login__page row">
  <div class="col-md-4">
    <div class="card card-container login__page--login-card">
      <header class="register__page--card-header mb-3 login__page--login-card--header">
        <h3>Already a user? Log in and start shopping!</h3>
      </header>
      <img
        class="profile-img-card"
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
      <form
        (ngSubmit)="onSubmit()"
        *ngIf="!isLoggedIn" [formGroup]="form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input
            [ngClass]="{'is-invalid': submitted && f.email.errors}"
            class="form-control"
            formControlName="email"
            id="email"
            name="email"
            type="text"
          />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors">E-Mail is required!</div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            class="form-control"
            formControlName="password"
            id="password"
            name="password"
            type="password"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-outline-primary btn-block">
            Login
          </button>
        </div>
        <div class="form-group">
          <div
            *ngIf="submitted && isLoginFailed"
            class="alert alert-danger login-failed"
            role="alert">
            Login failed: {{ errorMessage }}
          </div>
        </div>
        <small *ngIf="!isLoggedIn" class="login__page--login-card--new-user">
          New user? Sign up <a href="register" routerLink="/register">here!</a>
        </small>
      </form>

      <div *ngIf="isLoggedIn" class="alert alert-success">
        Logged in as {{ role === 1 ? "admin" : "costumer" }}.
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-container login__page--about">
      <header class="login__page--about-header text-center">
        <h3>Why you should buy in our store?</h3>
      </header>
      <div class="login__page--about-description">
        why you should buy in our store?
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-container login__page-shop-image-container">
      <img src="https://via.placeholder.com/100x80" alt="">
      <div class="login__page-shop-image-container--description">
        <p>{{productsService.allProducts.length}} available products available in our store.</p>
        <p>{{ordersService.totalNumOfOrders ? ordersService.totalNumOfOrders[0].totalOrders + " orders were already made!" : "No orders were made"}}</p>
      </div>
    </div>
  </div>
</div>
