<div class="home__user">
  <header class="home__user--header">
    <div class="home__user--header-wrapper">
      <div class="home__user--dropdown">
        <button class="home__user--dropdown--dropbtn">Categories</button>
        <div class="home__user--dropdown--content">
          <a (click)="productsService.getProductsByCategoryId(0)">All Products</a>
          <a (click)="productsService.getProductsByCategoryId(category.id)"
             *ngFor="let category of categoriesService._categories">{{category.category}}</a>
        </div>
      </div>
    </div>
  </header>

  <div class="home__user--main--openCloseCart">
    <div class="home__user--main--openCloseCart--showBtn">
      <img (click)="hideShowCart()" *ngIf="hideCart"
           alt="" src="https://img.icons8.com/fluency-systems-regular/48/000000/open-pane.png"/>
    </div>
    <div (click)="hideShowCart()" class="home__user--main--openCloseCart--hide-cart">
      <img *ngIf="!hideCart" alt="" src="https://img.icons8.com/fluency-systems-regular/50/000000/close-pane.png"/>
    </div>
  </div>

  <div class="home__user--main">
    <div [ngClass]="hideCart ? 'products-full-width' : ''" class="home__user--main-products">
      <header>
        <h3>{{productsService.categoryName ? productsService.categoryName : 'All Products'}}</h3>
      </header>
      <div class="search-bar p-2 rounded rounded-pill shadow-sm">
        <div class="input-group">
          <input (keyup)="productsService.searchProducts($event)" aria-describedby="button-addon1"
                 class="form-control border-0"
                 placeholder="Search for products here!"
                 type="search">
          <div class="input-group-append">
            <button class="btn btn-link text-primary" id="button-addon1"
                    type="submit">
              <i class="fa fa-search"></i>

            </button>
          </div>
        </div>
      </div>
      <div *ngIf="productsService.productsByCategoryId.length > 0 || productsService.productsByCategoryId"
           [ngClass]="hideCart? 'products-full-width' : ''"
           class="home__user--main-products--container">
        <app-product-card *ngFor="let product of productsService.productsByCategoryId"
                          [product]="product"></app-product-card>
      </div>

      <div *ngIf="productsService.productsByCategoryId.length === 0 || !productsService.productsByCategoryId"
           class="home__user--main-products--container-no-products">No
        products
      </div>
    </div>

    <div *ngIf="!hideCart" [ngClass]="hideCart ? 'hideCart' : ''"
         class="home__user--main-cart border-start border-2">

      <div class="home__user--main-cart--header-items-wrapper">
        <header class="home__user--main-cart--header-items-wrapper--header">
          <h3>Your cart:</h3>
        </header>

        <div class="home__user--main-cart--header-items-wrapper--items">
          <app-user-cart-single-product *ngFor="let singleShoppingCartItem of
      shoppingCartItemsService.allShoppingCartItems" [singleShoppingCartItem]="singleShoppingCartItem"
                                        class="mt-3 home__user--main-cart--single-product">
          </app-user-cart-single-product>
        </div>
      </div>
      <div class="home__user--main-cart--checkoutDV">
        <div class="home__user--main-cart--checkoutDV--totalPrice">
          <p>Total:
            <b>{{shoppingCartItemsService.totalPrice}}₪</b>
          </p>
        </div>
        <div class="home__user--main-cart--checkoutDV--btns">
          <button (click)="shoppingCartItemsService.deleteShoppingCart()" class="btn btn-outline-danger">Clear
            Cart
          </button>
          <button (click)="continueToOrderPage()"
                  [disabled]="shoppingCartItemsService.allShoppingCartItems.length === 0"
                  class="btn btn-outline-primary">Proceed to checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
