<div class="home__user">
  <header class="home__user--header">
    <div class="home__user--header-wrapper">
      <div class="home__user--dropdown">
        <button class="home__user--dropdown--dropbtn">Categories</button>
        <div class="home__user--dropdown--content">
          <a (click)="productsService.getProductsByCategoryId(0)">All Products</a>
          <a (click)="productsService.getProductsByCategoryId(category.id)"
             *ngFor="let category of categoriesService._categories">{{category.category}}</a>
        </div>
      </div>
    </div>
  </header>

  <div class="home__user--main">
    <div class="home__user--main-products pe-2">
      <div *ngIf="productsService.productsByCategoryId.length > 0 || productsService.productsByCategoryId"
           class="home__user--main-products--container">
        <app-product-card *ngFor="let product of productsService.productsByCategoryId"
                          [product]="product"></app-product-card>
      </div>

      <div *ngIf="productsService.productsByCategoryId.length === 0 || !productsService.productsByCategoryId"
           class="home__user--main-products--container-no-products">No
        products
      </div>
    </div>

    <div class="home__user--main-cart border-start border-2">
      <div class="home__user--main-cart--header-items-wrapper">
        <header class="home__user--main-cart--header-items-wrapper--header">
          <h3>Your cart:</h3>
        </header>

        <div class="home__user--main-cart--header-items-wrapper--items">
          <app-user-cart-single-product *ngFor="let singleShoppingCartItem of
      shoppingCartItemsService.allShoppingCartItems" [singleShoppingCartItem]="singleShoppingCartItem"
                                        class="row mt-3 home__user--main-cart--single-product">
          </app-user-cart-single-product>
        </div>
      </div>
      <div class="home__user--main-cart--checkoutDV">
        <p>Total:
          <b>{{shoppingCartItemsService.totalPrice}}₪</b>
        </p>
        <button class="btn btn-secondary" [disabled]="shoppingCartItemsService.allShoppingCartItems.length
        === 0"
                (click)="continueToOrderPage()">Proceed to checkout
        </button>
      </div>
    </div>
  </div>
</div>
