<!-- Modal -->
<div class="modal fade add-product-modal" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInputProductName"
                 [ngModel]="singleProduct.product_name"
                 (ngModelChange)="singleProduct.product_name=$event">
          <label for="floatingInputProductName">Product Name:</label>
        </div>
        <div class="add-product-modal__select-category">
          <label for="add-product-modal__select-category-select">Select Product Category:</label>
          <select id="add-product-modal__select-category-select" class="form-select"
                  aria-label="Default select example" (change)="handleSelectedCategory($event)">
            <option selected>Select all products</option>
            <option *ngFor="let category of categoriesService._categories"
                    value="{{category.id}}">{{category.category}}</option>
          </select>
        </div>
        <label>Product Price:</label>
        <div class="input-group mb-3">
          <input type="number" class="form-control" aria-label="Price"
                 [ngModel]="singleProduct.price"
                 (ngModelChange)="singleProduct.price=$event"
                 (click)="select($event)">
          <span class="input-group-text">₪</span>
        </div>

        <div>
          image...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="submitNewProduct()">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>
