<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade add-product-modal" id="addProductModal"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a new product</h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="floatingInputProductName">Product Name:</label>
          <input (ngModelChange)="singleProduct.product_name=$event" [ngModel]="singleProduct.product_name"
                 class="form-control"
                 id="floatingInputProductName"
                 type="text">
        </div>
        <div class="form-group">
          <label for="floatingInputCategory">Category:</label>
          <select (change)="handleSelectedCategory($event)" aria-label="Default select example" class="form-select"
                  id="floatingInputCategory">
            <option selected>Select all products</option>
            <option *ngFor="let category of categoriesService._categories"
                    value="{{category.id}}">{{category.category}}</option>
          </select>
        </div>

        <label class="mb-2">Product Price:</label>
        <div class="input-group mb-3">
          <input (click)="select($event)" (ngModelChange)="singleProduct.price=$event" [ngModel]="singleProduct.price"
                 aria-label="Price"
                 class="form-control"
                 type="number">
          <span class="input-group-text">₪</span>
        </div>

        <div class="mb-3">
          <label class="form-label" for="formFile">Choose the product's photo:</label>
          <input (change)="selectFile($event)" class="form-control" id="formFile" type="file">
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger" data-bs-dismiss="modal" type="button">Close</button>
        <button (click)="submitNewProduct()" class="btn btn-outline-primary" data-bs-dismiss="modal" type="button">Save
          changes
        </button>
      </div>
    </div>
  </div>
</div>
