<div class="row mt-3 home__user--main-cart--single-product">
  <div class="col-2 home__user--main-cart--single-product-image">
    <img alt="" class="card-img-top" src="{{'http://localhost:8080/'+singleShoppingCartItem.product?.filename}}">
  </div>
  <div class="col-3 home__user--main-cart--single-product-name ">
    {{singleShoppingCartItem.product?.product_name}}
  </div>
  <div class="home__user--main-cart--single-product-price col-2">
    Price: <strong>{{singleShoppingCartItem.product!.price}}₪</strong>
  </div>
  <div class="col-4 home__user--main-cart--single-product-qnt">
    <button (click)="addOrSubtractQnt(2)" [disabled]="itemToSubmit.qnt <= 1"
            class="btn">
      <i class="bi bi-dash-circle-fill"></i>
    </button>
    <input [(ngModel)]="itemToSubmit.qnt" class="home__user--main-cart--single-product-qnt--input"/>
    <button (click)="addOrSubtractQnt(1)" class="btn">
      <i class="bi bi-plus-circle-fill"></i>
    </button>
    <button (click)="deleteShoppingCartItem()" class="btn btn-danger">
      <i class="bi bi-trash-fill"></i>
    </button>
  </div>
</div>
