<div class="card product__card" style="width: 19rem;">
  <div class="product__card--title-body">
    <div class="product__card--title-body-productImg">
      <img alt="" class="card-img-top" src="{{'http://localhost:8080/' + product.filename}}">
    </div>
    <div class="product__card--title-body--description">
      <h5 class="card-title">{{product.product_name}}</h5>
      <p class="card-text">Price: {{product.price}}₪</p>
    </div>
  </div>

  <div class="form-group product__card--add-product">
    <div class="product__card--add-product-btnsDiv">
      <div class="product__card--add-product-btnsDiv-btns">
        <i (click)="addOrSubtractQnt(2)" [ngClass]="{'disabledBtn': disabledBtn}" class="bi bi-dash subtract-btn"
           disabled="disabledBtn"></i>
        <input (change)="checkItemQntBelowZero($event)"
               [(ngModel)]="this.itemToSubmit.qnt"
               [ngClass]="{'is-invalid': itemToSubmit.qnt < 1}"
               class="form-control product__card--add-product-clicked-input"
               type="text">
        <i (click)="addOrSubtractQnt(1)" class="bi bi-plus add-btn"></i>
      </div>
      <button (click)="submitProductToOrder()"
              class="btn btn-outline-primary product__card--add-product-add-to-cart-btn">
        Add to cart
      </button>
    </div>
  </div>
</div>
