.product__card {
  display: flex;
  //margin-right: 1rem;
  margin-bottom: 1.2rem;
  min-height: 450px;
  border-width: .5px;
  border-color: rgba(0, 0, 0, .15);
  flex-direction: column;
  justify-content: space-between;

  &--title-body {

    &-productImg {
      //margin-bottom: 1rem;
      height: max-content;
      display: flex;
      justify-content: center;
      border-bottom: solid lightgrey;
      border-width: .5px;
      border-color: rgba(0, 0, 0, .15);
      padding: 1rem 0 1rem 0;

      & img {
        width: 200px;
        height: 200px;
      }
    }

    &--description {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &--add-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    //justify-content: space-between;

    &-btns {
      padding: .5rem 0;
      display: inline-flex;
      justify-content: space-evenly;
      //border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    &-clicked-input {
      max-width: 50%;
    }

    &-add-to-cart-btn {
      width: 100%;
    }
  }
}
